body {
    font-family: 'Poppins', sans-serif; 
    background-color: #434949;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url("../images/yoga.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 200px 0;
    border-radius: 4px;
}
.container {
    max-width: 1400px;
    margin:0 auto;
}

header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 1.2;
    margin: 30px 0;
}

header h2{
    font-weight:400;
    font-size: 40px;
    line-height: 1.0;
    margin: 0;
}

header h3{
    font-weight:900;
    font-size: 24px;
    line-height: 1.0;
    margin: 0;
    letter-spacing: 5px;
}

header a{
    display: inline-block;
    border-radius:6px;
    font-weight:700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 3px;
    background-color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    color: #316063;
    padding: 16px 32px;
    margin-top:34px;
}

main {
    background-color: white;
}

main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 5px;
    color:#316063;
    opacity: 0.5;
    text-transform: uppercase;
    margin:0;
}

main h3 {
    font-weight: 700;
    font-size:40px;
    line-height:1.5;
    color:#316063;
    margin:0;
}

main h4{
    font-weight: 700;
    font-size:24px;
    line-height:1;
    color:#316063;
    margin:0;
}

main h5 {
    font-weight: 700;
    font-size:15px;
    line-height:1;
    color:#316063;
    margin:0;
}

main p {
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    color:#316063;
    opacity: 0.7;
}

footer {
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url("../images/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: aliceblue;
    opacity: 0.7;
    padding: 75px 40px;
}

footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style:none;
}

footer p{
    color:aliceblue;
    font-weight: 400;
    font-size:16px;
    line-height:24px;  
}

footer a{
    color:aliceblue;
    margin: 0;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

section.secondar{
    background-color: rgb(205, 204, 204);
}

.grid{
    display: grid;
    grid-gap: 64px;
}

.grid-2-equal-coloums {
    grid-template-columns: 1fr 1fr;
}

.grid-3-colums {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-colums-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive{
    display: block;
    max-width: 100%;
    border-radius: 4px;
}

.text-center{
    text-align: center;
}

.card {
    background-color:white;
    margin:30px 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;
}

.btn {
    display:block;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px;
    background-color: #1e6b6b;
    text-decoration: none;
}

@media (max-width: 900px){
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size:48px;
    }

    header h2 {
        font-size:20px;
    }

    header h3 {
        font-size:12px;
    }

    section {
        padding: 30px;
    }

    .grid{
        grid-template-columns: 1fr;
        grid-gap:32px;
    }

}